@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: theme("colors.bg");
    color: theme("colors.ink.DEFAULT");
    font-family: theme("fontFamily.body");
  }
  body {
    margin: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
